<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Movies</title>
</head>
<body>
    <h1>{{title}}</h1>
        <h2>
            {% for element in list%}
                <div class = "alert alert-warning mt-2">
                    <h3>{{element.movie_title}}</h3>
                    <p>{{element.movie_description}}</p>
                    <p>{{element.release_date}}</p>
                </div>
            {% endfor %}
            <a class ="p-2 text-dark" href="{% url 'check_movie'%}">More information</a>
        </h2>
</body>
</html>