{% extends "movies/base.html" %}

{% block title %}
    {% if member %}
        <title>Delete {{member.member_name}}</title>
    {% else %}
        <title>Delete Member</title>
    {% endif %}
{% endblock title %}

{% block content %}
    <div class="container mt-3">
        {% if member %}
            <h1>Delete <span class="badge bg-dark">{{member.member_name}}</span></h1>
            <p>Are you sure that you to delete this member?</p>
            <form method="POST", action="" enctype="multipart/form-data">
                {% csrf_token %}
                <div>
                    <button type="submit" class="btn btn-outline-danger">Delete</button>
                </div>
            </form>
        {% else %}
            <h1>Member not found</h1>
        {% endif %}
    </div>
{% endblock content %}