{% extends "movies/base.html" %}

{% block title %}
    <title>Rent Movie</title>
{% endblock title %}

{% block content %}
    <div class="container mt-3">
        <h1>Rent <span class="badge bg-dark">Movie</span></h1>
        {% if rent_form %}
            <form method="POST" action="">
                {% csrf_token %}
                {{ rent_form.as_p }}
                <button type="submit" class="btn btn-dark">Buy Ticket</button>
            </form>
        {% endif %}
    </div>

    <script src="https://www.paypalobjects.com/api/checkout.js"></script>

    <script>
        let _total = 100;
        paypal.Button.render({
            env: 'sandbox',
            client: {
                sandbox: 'ATUgC5M-KYAt71k7-PkJwK9zR11XsV0KaAp6MTL_rhNMPep4SDM22-2_sO3kZOTxJv9zjdtgxb455G8y'
            },
            locale: 'en_US',
            style: {
                size: 'small',
                color: 'gold',
                shape: 'pill'
            },
            commit: true,
            payment: function (data, actions) {
                return actions.payment.create({
                    transactions: [{
                        amount: {
                            total: _total,
                            currency: 'USD'
                        }
                    }]
                });
            },
            onAuthorize: function (data, actions) {
                return actions.payment.execute().then(function () {
                    var url = 'success';
                    window.location.href = url;
                });
            }
        }, '#paypal-btn')
    </script>

{% endblock content %}