{% extends "movies/base.html" %}

{% block title %}
<head>
    <title>Ticket solded</title>
</head>
{% endblock title %}

{% block content %}
    <div class="container mt-3">
        <h1>Movie <span class="badge bg-dark">Rental Info</span></h1>

        {% if data %}
            {% for movies in data %}
                <h5>
                    <li>
                        <img src="{{movies.imageURL.url}}" width="70px"class="align-middle"/> {{ movies.title }}, {{ movies.date_of_release}}
                    </li>
                </h5>

                <table class="table table-striped">
                    <thead>
                        <tr class="bg-dark" style="color: white;">
                            <th scope="col">Customer Name</th>
                            <th scope="col">Rent Date</th>
                            <th scope="col">Return Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for rental_info in movies.movierental_set.all %}
                            <tr>
                                <td class="align-middle">{{ rental_info.member_id.member_name }}</td>
                                <td>{{ rental_info.rent_date }}</td>
                                <td>{{ rental_info.return_date }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

            {% endfor %}
        {% endif %}
    </div>
{% endblock content %}